.App {
  text-align: center;
  background-color: cornsilk;
  height: 5000px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: cadetblue;
  min-height: 100px;
  flex-direction: column;
  align-items: center;
  font-size: calc(50px + 2vmin);
  font-family: Georgia, serif;
  color: cornsilk;
}

.content {
  justify-content: left;
}

.description {
  margin-left: 100px;
  margin-right: 100px;
  align-items: justify;
  font-family: Georgia, serif;
  font-size: calc(10px + 2vmin);
  color: black;
}

.textbox {
  min-height: 150px;
  font-size: 100px;
}

.button {
  min-height: 30px;
  font-size: 30px;
  background-color: firebrick;
  color: cornsilk;
  font-family: Georgia, serif;
  
}

.resultTime {
  min-height: 30px;
  font-size: calc(10px + 2vmin);;
  font-family: Georgia, serif;
  align-items: center;
}

.mapimg {
  height: 100px;
  width: 50px;
}